Options -MultiViews
DirectorySlash Off
RewriteEngine On
RewriteRule ^starlink/?$ /index.html [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
